name: All Platforms Build

on:
  push:
    branches: [ "main", "master" ]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  pull_request:
    branches: [ "main", "master" ]

jobs:

  build-web-docker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./velist
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          cache: true 

      - run: flutter pub get
      - run: flutter build web --release

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build and Push Web Image
        uses: docker/build-push-action@v4
        with:
          context: ./velist
          file: ./velist/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/velist:latest

  build-android:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./velist
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          cache: true 
      
      - run: flutter pub get
      - run: flutter build apk --release
      
      # 将生成的 APK 上传到 GitHub Actions 的 Artifacts 供下载
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: velist/build/app/outputs/flutter-apk/app-release.apk

  build-windows:
    runs-on: windows-latest 
    defaults:
      run:
        working-directory: ./velist
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'
          cache: true 
      
      - run: flutter config --enable-windows-desktop
      - run: flutter pub get
      - run: flutter build windows --release
      
      # 压缩构建产物 (Windows构建结果是一个文件夹，不是单文件)
      - name: Archive Windows Build
        run: compress-archive -Path build\windows\runner\Release\* -DestinationPath todo-windows.zip
        
      - name: Upload Windows Build
        uses: actions/upload-artifact@v4
        with:
          name: release-windows
          path: velist/todo-windows.zip